body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: dimgray;
}

header {
    display: grid;
    justify-items: left;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

header span {
    font-size: 30px;
    cursor: pointer;
    color: white;
    align-self: baseline;
}

header img {
    /*display: inline-block;*/
    /*align-items: center;*/
    /*justify-items: center;*/
    width: 500px;
    height: auto;
}

.sidenav section {
    /*border: 1px solid red;*/
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
    padding-bottom: 20px;
}

hr {
    width: 75%;
}

.sidenav img {
    width: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    /*position: absolute;*/
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.grid-container a {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas: "a c e" "a d e" "b d f";
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 1fr);
}

.a {
    grid-area: a;
    background-image: url(./img/Riddler.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.b {
    grid-area: b;
    padding-top: 20px;
}

.c {
    grid-area: c;
    padding-top: 90px;
}

.d {
    grid-area: d;
    background: url(./img/Sangria.jpg) center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.e {
    grid-area: e;
    background: url(./img/Trickdog.jpg) center;
    background-size: 110%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.f {
    grid-area: f;
    padding-top: 20px;
}

.b, .c, .f {
    font-size: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen
and (min-device-width: 200px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .grid-container {
        /*border: 1px solid greenyellow;*/
        display: grid;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-rows: minmax(100px, auto);
        grid-auto-rows: minmax(400px, auto);
        grid-template-columns: 1fr;
    }

    .grid-container hr {
        width: 25%;
    }

    .a {
        grid-area: b;
        background-image: url(./img/Riddler.jpg);
    }

    .b {
        grid-area: a;
        /*padding-top: 200px;*/
        padding-left: 50px;
        padding-right: 50px;
        font-size: 50px;
    }

    .c {
        grid-area: c;
        padding-top: 200px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 50px;
    }

    .d {
        grid-area: d;
        background-image: url(./img/Sangria.jpg);
    }

    .e {
        grid-area: f;
        background-image: url(./img/Trickdog.jpg) ;
    }

    .f {
        grid-area: e;
        padding-top: 200px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 50px;
    }

    .a, .d, .e {
        object-fit: cover;
    }

    /*.b, .c, .f {*/
        /*color: white;*/
        /*font-size: 30px;*/
        /*padding-bottom: 10px;*/
        /*padding-top: 10px;*/
    /*}*/
/*}*/
/*@media only screen*/
/*and (min-device-width: 200px)*/
/*and (max-device-width: 667px)*/
/*and (-webkit-min-device-pixel-ratio: 2) {*/
    /*.grid-container {*/
        /*border: 1px solid greenyellow;*/
        /*display: grid;*/
        /*grid-template-areas: ". b ." ". a ." ". a ." ". c ." ". d ." ". d ." ". f ." ". e ." ". e .";*/
        /*grid-template-columns: 10px auto 10px;*/
        /*grid-template-rows: 30% 350%;*/
    /*}*/

    /*.grid-container hr {*/
        /*width: 25%;*/
    /*}*/

    /*.a {*/
        /*grid-area: a;*/
        /*background-image: url(./img/Riddler.jpg);*/
        /*!*max-height: 100%;*!*/
        /*!*width: auto;*!*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*object-fit: cover;*/
    /*}*/

    /*.b {*/
        /*grid-area: b;*/
    /*}*/

    /*.c {*/
        /*grid-area: c;*/
    /*}*/

    /*.d {*/
        /*grid-area: d;*/
        /*background-image: url(./img/Sangria.jpg);*/
        /*!*max-height: 100%;*!*/
        /*!*width: auto;*!*/
        /*!*background-repeat: no-repeat;*!*/
        /*!*background-position: center;*!*/
        /*!*object-fit: cover;*!*/
    /*}*/

    /*.e {*/
        /*grid-area: e;*/
        /*background-image: url(./img/Trickdog.jpg);*/
        /*!*max-height: 100%;*!*/
        /*!*width: auto;*!*/
        /*!*background-repeat: no-repeat;*!*/
        /*!*background-position: center;*!*/
        /*!*object-fit: cover;*!*/
    /*}*/

    /*.f {*/
        /*grid-area: f;*/
    /*}*/

    /*.a, .d, .e {*/
        /*max-height: 100%;*/
        /*width: auto;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*object-fit: cover;*/
    /*}*/

    /*.b, .c, .f {*/
        /*color: white;*/
        /*font-size: 30px;*/
        /*padding-bottom: 10px;*/
        /*padding-top: 10px;*/
    /*}*/
/*}*/